/* Variables */
:root {
    --blue-color: #0071F5;
    --white-color: #F5F5F5;
    --grey-color:  #b6b4b4;
    --light-blue: #cfd8e2;
    --light-blue-gradient: #8faccc;
    --dark-blue-color: #004AA0;
    --background-color: #030C1D;

    --navbar-height: 8vh;
    --navbar-height-mobile: 60px;
  }


@media (prefers-color-scheme: dark) {
    #light-icon {
        display: none;
    }
    #dark-icon {
        display: block;
    }
}


#contact{
    background-color: var(--light-blue);

}

/* All page styles */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: var(--background-color);
    color: var(--white-color)
}

header{
    background-color: var(--background-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: var(--navbar-height);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

h2{
    font-size: 3vw;
    color: var(--white-color);
    padding: 3vw;
    text-decoration: underline;
}

h3{
    font-size: 2vw;
    padding: 2vw;
    padding-bottom: 0;

}

p{
    padding: 2vw;
    padding-top: 0;
}

button{
    font-size: 2vw;
    color: #F5F5F5;
    padding: 1vw 3vw;
    border-radius: 2vw;
    background-color: #0071F5;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.315);
    font-weight: 500;
    border: solid 0px;
    margin: 2vw;

    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

@media screen and (max-width: 768px) {
    button{
        font-size: 4vw;
        color: #F5F5F5;
        padding: 2vw 6vw;
        border-radius: 4vw;
        background-color: #0071F5;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.315);
        font-weight: 500;
        border: solid 0px;
        margin: 2vw;
    
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    
    }
}


button:hover {
    /*transform: translateY(-5px);*/
    background-color: #004AA0;
  }
  


/* Header Styles */

nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);

}

.logo-container {
    position: absolute;
    left: 0%;
}

.logo-container img{
    height: var(--navbar-height);
}

#menu-desktop li {
    display: inline-block;
    margin-right: 4vw;
}

#menu-desktop a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.3vw;
    position: relative;
    
}

#menu-desktop a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.2vh;
    left: 0;
    width: 0;
    height: 0.4vh;
    background-color: var(--blue-color);
    transition: width 0.2s ease-in-out;
    z-index: -2;
}

#menu-desktop a:hover::after {
    width: 100%;
}

#menu-desktop a.active::after {
    width: 100%;
}

#menu-desktop a.active {
    color: var(--blue-color);
    font-weight: bold;
}

.log-in-button {
    position: absolute;
    right: 0%;
    z-index: 5;
}

.log-in-button button {
    font-size: 1.2vw;
    padding: 0.5vw 1.2vw;
    border-radius: 1.5vw;
}

#header{
    width: 100%;
}

.navbar-desktop .icon {
    display: none;
    color: var(--white-color);
  }


@media screen and (max-width: 768px) {

    .log-in-button button {
        display: none;
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 15px;
    }

    nav {
        height: var(--navbar-height-mobile);
    }
    
    .logo-container img{
        height: var(--navbar-height-mobile);
    }

    body {
        margin-top: var(--navbar-height-mobile);
    }
    
    header{
        height: var(--navbar-height-mobile);    
    }

    #menu-desktop a {
        display: none;}


    .log-in-button {
        position: absolute;
        padding: 10px;
        right: 40px
    }


}



/* Tile 1 */



.center-container
{
    height: 50vw;

    background-image: url("./media/background_shapes_dark.png");
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-slogan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.column-img{
    flex: 3;
    text-align: center;
    padding: 2vw;
}

.column-button p {
    text-align: left;
    font-size: 2vw;
    padding: 1vw 2vw;
    margin: 0;
}

.column-button h2 {
    text-align: left;
    text-decoration: none;
    font-size: 3vw;
    padding: 1vw 2vw;
    margin: 0;
}

.column-button #colored-text {
    font-weight: bold;
    background-image: linear-gradient(45deg,  var(--white-color), var(--blue-color));
    -webkit-background-clip: text;
    background-clip: text;
    width: fit-content;
    color: transparent;
    margin: 0;
    font-size: 2.5vw;
}


.column-button{
    flex: 5;
    padding: 3.5vw;
}


#logo-slogan{
    width: 35vw;
}

.teaser-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teaser-container p{
    font-size: 2vw;
}

@media screen and (max-width: 768px) {


    .center-container{
        height: fit-content;
        padding: 4vw;
    }
    .logo-slogan-container {
        align-items: center;
    }

    .column-img{
        display: none;
    }
    

    .column-button {
        flex: 4;
        width: 100%;
        padding: 3vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .column-button p {
        text-align: center;
        font-size: 6vw;
        padding: 1vw 2vw;
        margin: 0;
    }
    
    .column-button h2 {
        text-align: center;
        text-decoration: none;
        font-size: 8vw;
        padding: 1vw 2vw;
        margin: 0;
    }
    
    .column-button #colored-text {
        font-weight: bold;
        background-image: linear-gradient(45deg,  var(--white-color), var(--blue-color));
        -webkit-background-clip: text;
        background-clip: text;
        width: fit-content;
        color: transparent;
        margin: 0;
        font-size: 8vw;
    }




}

/* Tile 2 */

.center-tile{
    text-align: center;
    padding: 5vw 15vw;
    background-color: var(--light-blue);
    background: linear-gradient(-20deg,  var(--light-blue), var(--light-blue-gradient));
}
.center-tile p{
    color: var(--background-color);
    font-size: 2.5vw;
    font-weight: 400;
    background-image: linear-gradient(45deg,  var(--background-color), var(--dark-blue-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.center-tile button{
    margin: 0;
    margin-top: 2vw;
}

@media screen and (max-width: 768px) {
    .center-tile p{
        font-size: 6vw;
    }

    .center-tile{
        text-align: center;
        padding: 7vw 10vw;
        background-color: var(--light-blue);
        background: linear-gradient(-20deg,  var(--light-blue), var(--light-blue-gradient));
    }
}


/* About Description Section Styles */

.about-description{
    background-color: var(--light-blue);
    background: linear-gradient(0deg,  var(--light-blue), var(--light-blue-gradient));
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    flex: 5;
    color: var(--background-color);
    font-size: 2.3vw;
}

#tilted-images{
    flex: 3;
}

#tilted-images img{
    width: 30vw;
}


@media screen and (max-width: 768px) {
    .about-description {
        flex-direction: column;
        align-items: center;
    }

    #description{
        order: 2;
        color: var(--background-color);
        font-size: 18px;
        text-align: center;
    }
    #macbook_mockup{
        order: 1;
        width: 80vw;
        margin-top: 1vw;
    }
}

/* Tile 3 */


.scrollable-container{
    height: 50vw;
    color:#FFF;
    position: relative;
    background-image:url(./media/list_of_client_logos.jpg);
    background-size: cover;
    background-position:center;
}

.scrollable-container #clients-text{
    font-weight:bold;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 30%; 
    transform: translate(50%, -50%);
    text-align: left;

    text-decoration: none;
    color: #ffffff;
    font-size: 4vw;
}

.scrollable-container h2{
    width: 40vw;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5vw;
    margin: 0;
    padding: 1vw;
}

.scrollable-container p{
    padding: 1vw;
    margin: 0;

}


@media screen and (max-width: 768px) {
    .scrollable-container{
        height: 80vw;
    }

    .scrollable-container h2{
        font-size: 4vw;
    }


}

/* Tile 4 */


.toggle-switch-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 2;
  }


  .toggle-switch {
    position: relative;
    width: 8vw;
    height: 4vw;
    border-radius: 2vw;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.315);
  }

  #toggle-switch{
      background-color: var(--dark-blue-color);
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  .toggle-switch-slider {
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }

  .toggle-switch input:checked + .toggle-switch-slider {
    transform: translateX(4vw);
  }

  .toggle-text {
    font-size: 18px;
  }


/* Multi Tab Styles */

.toggle-line-container
{
    background-color: var(--light-blue);

    position: relative;
    height: fit-content;
    margin: auto;
}

.multiple-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    height: fit-content;
}

.multiple-tabs h2{
    font-size: 3vw;
    text-decoration: none;
    padding: 1vw;
    color: var(--background-color);
    position: relative;

}

.multiple-tabs h2::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--blue-color);
    transition: width 0.2s ease-in-out;
    z-index: 0;
}

.multiple-tabs p{
    padding: 1vw;
    padding-top: 0;
}

#firms-side{
    flex: 5;
    padding: 2vw;
    padding-left: 7vw;
    font-size: 1.8vw;
    position: relative;
    height: 30vw;
}

#firms-side.blur::after {
    opacity: 1;
}


#firms-side::after {
    content: "";
    text-align: center;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #cfd8e244;
    backdrop-filter: blur(25px); /* Adjust the blur strength as needed */
    filter: blur(0);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s ease;
}





#recruiters-side{
    flex: 5;
    padding: 2vw;
    padding-right: 7vw;
    font-size: 1.8vw;
    position: relative;
    height: 30vw;
}

#recruiters-side.blur::after {

    opacity: 1;
}


#recruiters-side::after {
    content: "";
    text-align: center;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #cfd8e244;
    backdrop-filter: blur(25px); /* Adjust the blur strength as needed */
    filter: blur(0);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s ease;
}


.hide-text{
    display: none;
}


@media screen and (max-width: 768px) {
    .multiple-tabs{
        flex-direction: column;
        padding: 2vw 4vw;
    }

    #firms-side.blur::after {
        opacity: 0;
    }

    #recruiters-side.blur::after {

        opacity: 0;
    }

    .toggle-switch-container {
        display: none;
      }

    .multiple-tabs h2::after{
        height: 2px;

    }
    .multiple-tabs h2{
        font-size: 6vw;
    }
    .multiple-tabs p{
        font-size: 5vw;
    }
    #firms-side{
        padding-left: 2vw;
    }
    

}


/* other */

.image-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.paragraph-background-left{
    height: 80vh;
    margin: 0;
}

#Lorem1{
    color: var(--background-color);
    font-size: 1.5vw;
    text-align: left;
    background-color: #FFF;
}

.paragraph-background-right{
    height: 80vh;
    margin: 0;
    color:#FFF;
}

#image1{
    background-image: url(./bank_stock.png);
    background-size: cover;
}



.flex-4{
    flex: 4;
}

.flex-6{
    flex: 6;
}




.fourth {
    border: solid 4px var(--blue-color);
    background-color: transparent;
    background-image: linear-gradient(45deg, var(--blue-color) 50%, transparent 50%);
    background-position: 100%;
    background-size: 500%;
    transition: background-position 500ms ease-in-out, transform 0.5s ease-in-out; background-color:  0.8s ease-in-out;
    border-radius: 7vw;
}
.fourth:hover { 
    background-position: 0;
    transform: scale(0.97);
    background-color: #0071F5;
}
  


.hidden {
    opacity: 0;
}
.animation-left{
    transform: translateY(0);
    transform: translateX(-5vw);
    transition: all 0.8s ease-in-out;
    transition-delay: 0s;
}

.animation-right{
    transform: translateY(0);
    transform: translateX(5vw);
    transition: all 0.8s ease-in-out;
    transition-delay: 0s;
}

.animation-up{
    transform: translateY(3vw);
    transition: all 0.8s ease-in-out;
}

.animation-down{
    transform: translateY(-3vw);
    transition: all 0.8s ease-in-out;
    transition-delay: 0.3s;
}
.show{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}


.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}

.fourth {
border-color: #f1c40f;
color: #fff;
background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
background-position: 100%;
background-size: 400%;
transition: background 300ms ease-in-out;
}
.fourth:hover {
background-position: 0;
}

