/* Variables */
:root {
  --blue-color: #0071F5;
  --white-color: #F5F5F5;
  --grey-color:  #b6b4b4;
  --light-blue: #cfd8e2;
  --light-blue-gradient: #8faccc;
  --dark-blue-color: #004AA0;
  --background-color: #030C1D;

  --navbar-height: 8vh;
  --navbar-height-mobile: 60px;
}

/* Header Styles */

header{
  background-color: var(--background-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: var(--navbar-height);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 0;
}

nav {    
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navbar-height);

}

.logo-container {
  position: absolute;
  left: 0%;
}

.logo-container img{
  padding: 0;
  margin: 0;
  height: var(--navbar-height);
}

#back-home{
  color: #004AA0;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 2vw;
}
#back-home:hover{
  color: #0071F5;
}








body {
    background-color: var(--background-color);
    background-image: url(../media/background_shapes_dark.png);
    background-size: cover;
    /*background: radial-gradient(ellipse at bottom, #07111d 0%, #020307 100%);*/
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: hidden;
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    margin: 0;
}

h2{
  font-size: 1.8vw;
  color: var(--white-color);
  text-align: center;
  padding: 0;
  margin: 1vw;
  margin-top: 0;
}

h3{
  font-size: 1vw;
  margin-bottom: 1vw;
}

  

.input-row{
  display: flex;
  justify-content: baseline;
  align-items: center;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    padding: 3vw;
    border-radius: 1vw;
    background-color: #030c1da9;
    z-index: 2;
}

img{
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
    width: 16vw;
    padding: 1.5vw;
}


form {

    display: flex;
    flex-direction: column;
    padding: 1vw;
}


input {
    width: 100%;
    padding: 0.8vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
    border: 1px solid #868686a9;
    background-color: #0a1c38e5;
    border-radius: 0.5vw;
    color: white;
}

#submit{
  background-color: #024eac;
  margin-bottom: 0;
}

#submit:hover{
  background-color: #1b61b8;
}

button {
    background-color: #024eac;
    color:  rgb(173, 173, 173);
    padding: 0.8vw;

    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 0.7vw;
}

button:hover {
    background-color: #1b61b8;
}

#result {
    font-size: 0.9vw;
    padding: 0.4vw;
    color: #b31919;
    font-weight: 400;
}

.hidden {
    display: none;
}

#feedback{
  color: #0071F5;
  text-align: center;
  font-weight: 500;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
}

#feedback_error{
  color: #b90b1a;
  text-align: center;
  font-weight: 500;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
}

@media screen and (max-width: 768px) {


  #feedback{
    color: #0071F5;
    text-align: center;
    font-weight: 500;
    font-size: 3vw;
    margin: 1vw;
    padding: 0;
    margin-bottom: 2vw;
  }
  
  #feedback_error{
    color: #b90b1a;
    text-align: center;
    font-weight: 500;
    font-size: 3vw;
    margin: 1vw;
    padding: 0;
    margin-bottom: 2vw;
  }

  nav {
      height: var(--navbar-height-mobile);
  }
  
  .logo-container img{
      height: var(--navbar-height-mobile);
  }

  body {
      margin-top: var(--navbar-height-mobile);
  }
  
  header{
      height: var(--navbar-height-mobile);    
  }

  #menu-desktop a {
      display: none;}

  h2{
    font-size: 5vw;
    color: var(--white-color);
    text-align: center;
    padding: 0;
    margin: 3vw;
    margin-top: 0;
  }
  
  h3{
    font-size: 3vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
  }

}

@media (max-width: 767px) {
    .container {
        width: 80vw;
        border-radius: 2vw;
        padding: 6vw;
    }

    img{
        width: 70vw;
    }

    button {
        border-radius: 2vw;
        font-size: 3vw;
        padding: 3vw;
    }
    input {
        padding: 2vw;
        margin-bottom: 2vw;
        border-radius: 2vw;
    }
    #result {
      font-size: 3vw;
      padding: 0.4vw;
      color: #b31919;
      font-weight: 600;
  }
}

